.emoji-container1 {
    position: absolute;
    z-index: 3;
    top: 9rem;
    right: 0rem;
}

.emoji-container2 {
    position: absolute;
    z-index: 3;
    top: 2.5rem;
    right: -1rem;
}

.emoji-container3 {
    position: absolute;
    z-index: 3;
    top: 2.8rem;
    right: -1rem;
}

.emoji-categories {
    display: none!important;
}

.emoji-scroll-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: white;
}

.emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    border-radius: 500px;
}

.addEmoji-to-edit-post {
    color: grey;
    position: absolute;
    right: 13%;
    cursor: pointer;
}

.position-absolute {
    position: relative;
}
