.nav-container {
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 5vh;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.nav-left {
    width: 33%;
}

.nav-mid {
    width: 34%;
    display: flex;
    justify-content: space-around;
    color: grey
}

.fontAwesomeness {
    font-size: 1.6vw;
    color: grey;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: .3rem;
    padding-top: .3rem;
}

.fontAwesomeness:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    color: #2282ff;
    border-radius: 8px;
}

.nav-right {
    width: 33%;
    right: 0;
}
