.profile-container {
    margin-top: 2rem;
    border-bottom: 2px rgb(214, 214, 214) solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.profile-background-color {
    background-color: white;
    left: 0;
    width: 100%;
}

.profile-images {
    background: linear-gradient(rgb(206, 204, 204), white);
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 7vw;
}

.cover-photo {
    object-fit: cover;
    position: relative;
    width: 50%;
    /* min-width: 935px; */
    max-height: 35rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.profile-pic {
    display: flex;
    justify-content: center;
}

.profile-photo {
    object-fit: cover;
    width: 8vw;
    height: 8vw;
    position: absolute;
    bottom: 0;
    left: 27%;
    border-radius: 50%;
    border: 3px white solid;
}

.profile-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 37%;
    bottom: 1.5%;
    font-size: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.profile2-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 37%;
    bottom: 4.5%;
    font-size: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.profile-alias {
    color: grey;
    font-size: 2vw!important;
}

.profile-nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-width: 625px;
    padding-bottom: .5rem;
    margin: auto;
    background-color: white;
    color: rgb(151, 151, 151);
}

.nav-links {
    display: flex;
}

.profile-nav-links {
    font-size: 1rem;
    font-weight: bold;
}

.profile-text {
    margin-right: 3rem!important;
    padding-top: .7rem!important;
}

.profile-text-in-focus {
    margin-right: 3rem!important;
    padding-top: .7rem!important;
    padding-bottom: .7rem!important;
    color: #1877F2;
    border-bottom: 3px solid #1877F2!important;
}

.profile-text-in-focus:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(238, 238, 238)!important;
}

.profile-text:hover {
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    color: #1877F2!important
}

.edit-profileBtn {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    color: rgb(87, 87, 87);
}

.edit-profilePicBtn {
    border-radius: 50%!important;
    border: none;
    cursor: pointer;
    align-items: center;
    color: rgb(87, 87, 87);
    background-color: rgb(221, 221, 221);
    /* width: 2vw;
    height: 2vw; */
}

.edit-profilePicBtn:hover {
    background-color: rgb(196, 196, 196);
}

.friends-profileBtn {
    border-radius: 8px;
    border: none;
    align-items: center;
    color: white;
    background-color: #1877F2;
}

.edit-profileBtn:hover {
    background-color: rgb(226, 226, 226);
}

.edit-profile-btn {
    margin-right: 0rem;
    left: 0;
    width: fit-content;
    display: flex;
}

.edit-profile-btn1 {
    width: fit-content;
    display: flex;
    position: absolute;
    bottom: 21.7%;
    right: 25%;
}

.position-relative {
    position: relative;
}

.edit-profile-picture {
    width: fit-content;
    /* font-size: .2rem!important; */
    display: flex;
    position: absolute;
    bottom: 1%;
    left: 33%;
}

.profile-bottom-half {
    display: flex;
    width: 100%;
}

.sideColumn {
    position: relative;
    width: 20%;
    z-index: -1;
}

.mainColumn {
    width: 60%;
    margin: auto;
    width: 1057px;
}

@media (max-width: 800px) {
    .user-info {
        display: none!important;
    }

    .post-container-right {
        margin: auto!important;
    }
}

@media screen and (max-device-width: 572px) {
    .user-info {
        display: none!important;
    }

    .post-container-right {
        width: 100%!important;
    }
}
