.search-container {
    display: flex;
    position: relative;
}

.search-form-field {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border:hidden;
    border-radius: 500px;
    outline: none;
    margin-left: .5rem;
    font-size: 1rem;
}

.search-field {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: rgb(238, 238, 238); */
    background-color: #f0f2f5;
    border: 1.5px grey solid;
    border: hidden;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 500px;
    padding-left: .7rem;
    margin-right: .5rem;
    outline: none;
}

.search-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: 3rem;
    background-color: white;
    border-radius: 12px;
}

.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: 3rem;
    background-color: white;
    border-radius: 12px;
    padding-bottom: .8rem;
}

.search-result-row {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    margin-right: 1rem;
    border-radius: 12px;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
}

.search-result-row:hover {
    background-color: #f0f2f5;
}

.search-portrait {
    border-radius: 50%;
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

.search-result-names {
    display: flex;
    flex-direction: column;
}

.result-names {
    font-size: .9rem;
    font-weight: bold;
}

.result-alias {
    font-size: .8rem;
}

.search-header {
    margin-left: 1rem;
    margin-top: .6rem;
}

.result-text {
    font-weight: bold;
}

.fa-times {
    padding-right: 1rem;
    cursor: pointer;
}
