/* TODO Add site wide styles */
body {
    background: #f0f2f5;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.pointer {
    cursor: pointer;
}

.dim:hover {
    -webkit-filter: brightness(96%);
}

a {
    color: black;
    text-decoration: none;
}
