.post-container {
    display: flex;
    width: 100%;
}

.user-info {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.post-container-right {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    flex-direction: column;
}

.containers {
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    background-color: white;
}

.intro-container > span,
.intro-container > div {
    margin-bottom: 1rem;
}

.category-row {
    display: flex;
}

.profile-labels {
    font-weight: bold;
}

.icon {
    color: grey;
    display: flex;
    margin-left: .8rem;
}

.icon-row {
    width: 20px;
    display: flex;
    justify-content: center;
}


.info {
    display: flex;
    align-items: center;
}

.row-Data {
    margin-left: .6rem;
    font-size: .9rem;
}

.profile-owner-info {
    font-weight: bold;
    color: black;
}

.fas {
    margin: auto;
}

.profile-nav-links1 {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

.edit-profileBtn1 {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    color: rgb(87, 87, 87);
}

.edit-profileBtn1:hover {
    background-color: rgb(226, 226, 226);
}

.photos-label {
    display:flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.photos-label1 {
    display:flex;
    justify-content: space-between;
    /* padding-bottom: 1rem; */
}

.profile-nav-links {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
}

.edit-profileBtn3 {
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-items: center;
    color: #1877f2;
    font-size: .9rem;
    font-weight: 600;
    padding-left: .4rem;
    padding-right: .4rem;
}

.edit-profileBtn3:hover {
    background-color: rgb(238, 238, 238);
}

.posted-photos {
    width: 9rem;
    height: 9rem;
    margin: 2px;
    box-sizing: border-box;
    object-fit: cover;
}

.photos-container {
    display: flex;
    flex-direction: column;
}

.nine-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.image-index-0 {
    border-top-left-radius: 12px;
}

.image-index-2 {
    border-top-right-radius: 12px;
}

.image-index-6 {
    border-bottom-left-radius: 12px;
}

.image-index-8 {
    border-bottom-right-radius: 12px;
}

/*friends*/
.friends-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.nine-friends {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.indiv-portrait {
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
    margin-left: .2rem;
}

.friends-portrait {
    width: 9rem;
    height: 9rem;
    /* margin-left: 1px;
    margin-right: .4rem; */
    box-sizing: border-box;
    border-radius: 12px;
    object-fit: cover;
}

.portrait-name {
    font-size: .8rem;
    margin-left: .3rem;
    font-weight: bold;
    text-decoration: none;
    color: black!important;
}

.friend-link {
    text-decoration: none;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-top: 1rem;
}


/* .friends-container,
.photos-container {
    min-width: 466px;
} */



.post-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-name-row {
    display: flex;
    align-items: center;
    margin-right: 1rem; /*right side of post box*/
}

.post-image-wall {
    border-radius: 50%;
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem; /*left side of post box*/
}

.post-form {
    width: 100%;
    border-color: rgb(238, 238, 238);
    border: none;
}

.post-field {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border: hidden;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 500px;
    padding-left: 1rem;
    font-size: 1rem;
}

.edit-Form-Field {
    display: flex;
    align-items: center;
}

.show-post-edit-field {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border: hidden;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 500px;
    padding-left: 1rem;
    margin-right: .5rem;
    font-size: 1rem;
}

.show-comment-edit-field {
    width: 100%;
    /* background-color: rgb(238, 238, 238); */
    background-color: white;
    border: 1.5px grey solid;
    /* border: hidden; */
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 12px;
    padding-left: .7rem;
    margin-right: .5rem;
    font-size: .9rem;
}

.show-post-edit-field:focus {
    outline: none;
}

.show-comment-edit-field:focus {
    outline: none;
}

.save-edit-button {
    font-weight: bold;
    font-size: .9rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 500px;
    color: rgb(131, 131, 131)
}

.save-comment-button {
    font-weight: bold;
    font-size: .8rem;
    padding-left: .6rem;
    padding-right: .6rem;
    margin-right: .5rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 12px;
    color: rgb(131, 131, 131);
    background-color: white;
    border: 1.5px grey solid;
}

.post-comment-button {
    font-weight: bold;
    font-size: .9rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-radius: 500px;
    color: rgb(131, 131, 131)
}

.save-edit-button:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.save-comment-button:hover {
    /* background-color: rgb(238, 238, 238); */
    cursor: pointer;
}

.post-comment-button:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.post-field:hover {
    background-color: rgb(224, 224, 224);
}

.post-field:focus {
    outline: none;
}

.add-comment-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.comment-form {
    width: 100%;
    border-color: rgb(238, 238, 238);
    border: none;
}

.comment-field {
    width: 91%;
    border: 10px solid rgb(131, 131, 131);
    background-color: rgb(238, 238, 238);
    border: hidden;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* margin-right: 1rem; */
    font-size: 1rem;
}

.comment-field:focus {
    outline: none;
}

.post-box-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 1.5rem;
}

.fa-pen {
    color: red;
}

.fa-images {
    color: rgb(0, 180, 0);
}

.fa-laugh {
    color: rgb(206, 158, 0);
}

.postBtns {
    font-weight: bold;
    color: rgb(131, 131, 131);
}

.boxBtn {
    padding-left: .6rem;
    padding-right: .6rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: 12px;
}

.boxBtn:hover {
    background-color: rgb(238, 238, 238);
}


/* POSTS */
.last-post:last-child {
    margin-bottom: 1.3rem;
}

.post-name-date {
    display: flex;
    margin-bottom: .8rem;
}

.edit-delete-post-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-delete-button-container {
    display: flex;
    color: grey;
}

.trash-can-post{
    margin-left: .5rem;
}

.trash-can-post:hover {
    cursor: pointer;
}

.name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-name {
    font-weight: bold;
}

.post-date {
    font-size: .8rem;
    color: grey;
}

.like-comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 1rem;
}

.like-post-button,
.comment-button {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: 12px;
    font-weight: bold;
    color: rgb(131, 131, 131)
}

.like-post-button:hover,
.comment-button:hover {
    background-color: rgb(238, 238, 238);
}

.post-name-comment {
    display: flex;
    margin-bottom: .8rem;
}

.last-comment:last-child {
    margin-bottom: 0rem!important;
}

.width-fix {
    width: 100%;
    padding-right: 1rem;
}

.name-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    border-radius: 12px;
    /* justify-content: center; */
}

.post-comment-name {
    font-size: .9rem;
    font-weight:bold;
    padding-bottom: .1rem;
    /* margin-right: 1rem; */
}

.post-comment {
    position: relative;
    font-size: .9rem;
    margin-right: .4rem;
}

.comment-detail {
    font-size: .8rem;
    margin-left: 1rem;
}

.like-unlike {
    color: grey;
}

.like-unlike2 {
    font-weight: bold;
}


/* COMMENT SECTION */
.edit-delete-comment-container {
    display: flex;
    justify-content: space-between;
}

.pencil-icon-comment {
    margin-right: .3rem;
    color: grey;
    font-size: .7rem;
}

.trash-icon-comment {
    margin-right: .5rem;
    color: grey;
    font-size: .7rem;
}

.comment-icon-position {
    display: flex;
}


/* THUMBS UP COMMENT */
.like-post-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: -.7rem;
    margin-top: -.3rem;
    font-weight: bold;
}

.thumbs-up-icon {
    color: white;
    background-color: #1877F2;
    border-radius: 50%;
    position: relative;
    font-size: .5rem;
    padding: .8%;
}

.post-like-counter {
    color: #1877F2;
    font-size: .7rem;
}

.thumbs-up-icon1 {
    color: white;
    background-color: #1877F2;
    border-radius: 50%;
    position: relative;
    font-size: .5rem;
    padding: .3rem;
}

.like-counter-container {
    width: fit-content;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);;
    border-radius: 500px;
    margin-left: 91%;
    margin-top: -1%;

    /* margin-bottom: 1rem!important; */
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: .2rem;
    padding-left: .2rem;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%), 0 4px 4px rgb(0 0 0 / 10%);
    /* font-size: 5rem; */
}

.post-like-counter1 {
    color: #1877F2;
    font-size: .7rem;
}
