.friends-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: .7rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.friend-text {
    margin-bottom: .2rem;
}

.friend-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.friend-box1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.indiv-friend-box {
    display: flex;
    width: 31.5%;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .5rem .5rem;
}

.square-portraits {
    width: 5rem!important;
    height: 5rem!important;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
}

.all-friends-link {
    text-decoration: none;
    color: black;
}

.friend-name {
    margin-left: .7rem;
    font-size: 1vw;
}

.friend-name:hover {
    text-decoration: underline;
}
