.friend-container {
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: .7rem;
    padding-right: 4rem;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    /* color:#c2c1c1 */
}