.friends-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: .7rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.friend-text {
    margin-bottom: .2rem;
}

.friend-box {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    width: 100%;
}

.indiv-friend-box {
    display: flex;
    width: 31.5%;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: .5rem .5rem;
}

.square-portraits {
    width: 5vw!important;
    height: 5vw!important;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
}

.all-friends-link {
    text-decoration: none;
    color: black;
}

.friend-name {
    margin-left: .7rem;
    font-size: 1vw;
}

.friend-name:hover {
    text-decoration: underline;
}

.friend-page-buttons {
    display: flex;
    flex-direction: column;
}

.friend-request1-buttons {
    display: flex;
    margin-left: .7rem;
}

.confirm-friend-request1-btn {
    background-color: #1877F2;
    color: white;
    font-size: .9vw;
    font-weight: bold;
    padding: .5vw .9vh;
    border-radius: 5px;
    margin-top: .2rem;
    margin-right: .5rem;
}

.confirm-friend-request1-btn:hover {
    background-color: #1b6dda;
}

.delete-friend-request1-btn {
    background-color: rgb(221, 221, 221);
    color: black;
    font-size: .9vw;
    font-weight: bold;
    padding: .5vw .9vh;
    border-radius: 5px;
    margin-top: .2rem;
}

.delete-friend-request1-btn:hover {
    background-color: rgb(207, 207, 207);
}


@media (min-width: 1570px) {
    .friend-name {
        font-size: 16px;
    }

    .confirm-friend-request1-btn,
    .delete-friend-request1-btn {
        font-size: 15px!important;
    }
}
