.photo-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: .7rem;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.photo-text {
    margin-bottom: .5rem;
}

.all-photo-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    margin-left: 1rem;
    /* padding-left: 1vw; */
}

.all-photos {
    /* width: 11rem;
    height: 11rem; */
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 8px;
    margin: .3rem .3rem;
}

/* .photo-display-sizing {
    width: 20%;
    box-sizing: border-box;
} */

.no-pictures-padding {
    margin-top: -.5rem;
}

@media screen and (max-device-width:600px) {
    .all-photos {
        width: 180px;
        height: 180px;
        margin-left: 0px;
    }
}
