.signup-form {
    padding: 1rem;
    background-color: white;
    border-radius: 12px;
    min-width: 450px;
    width: 23vw;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.signup-text {
    font-weight: bold;
    font-size: 2rem;
}

.signup-name-field,
.signup-birthday-field {
    display: flex;
    width: 100%;
}

.birthday-field {
    font-size: 1rem;
}

.last-name-field {
    padding-left: .7rem;
}

.email-field {
    padding-bottom: .7rem;
}

.password-field {
    padding-bottom: .7rem;
}

.month-field,
.day-field,
.year-field {
    width: 100%;
    padding-bottom: .7rem;
}

.month-field,
.day-field {
    margin-right: .7rem;
}

.first-name-field,
.last-name-field {
    width: 100%;
    padding-bottom: .7rem;
}

.signup-field {
    width: 100%;
    padding: 0px!important;
    border: 1px solid #c5c5c5!important;
}

.birthday-field,
.gender-field {
    height: 3.8vh;
    background-color: white;
    border-radius: 5px;
    outline: none;
}

.birthday-field {
    text-indent: .3rem;
}

.field-size {
    height: 3.8vh;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    outline: none;
}

.signup-font {
    font-size: 1rem;
    text-indent: .5rem;
}

.gender-container {
    display: flex;
    width: 100%;
    padding-bottom: .7rem;
}

.gender-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-indent: .5rem;
    position: relative;
}

.gender-male,
.gender-female {
    margin-right: .7rem;
}

.radio-buttons {
    position: absolute;
    right: 6%;
}

.signupBtn {
    height: 3.8vh;
    width: 50%;
    background-color: #36a420;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.signupBtn:hover {
    background-color: #2d8a1a;
}

.signup {
    display: flex;
    justify-content: center;
}

.label {
    font-size: .9rem;
    /* font-size: 1rem; */
    padding-bottom: 5rem;
}

.birthday-gender {
    padding-bottom: .1rem;
}

.signup-errors {
    color: red;
    font-size: .8rem;
}

.terms {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: .65rem;
    padding-bottom: .7rem;
    color: rgb(49, 49, 49)
}

.terms-text {
    color: blue;
}

/* .terms-text:hover {
    text-decoration: 1px solid underline blue;
    cursor: pointer;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 10000s ease-in-out 0s;
}
