.splash-page-container {
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 16vh;
    width: 100%;
}

.splash-left {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    flex-direction: column;
    padding-right: 3%;
    width: 30vw;
}

.splash-right {
    padding-left: 3%;
}

.splash-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #1877f2;
    font-size: 7vh;
    font-weight: bolder;
}

.splash-subtitle {
    font-size: 4vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 7rem;
    padding-top: 2rem;
    background-color: white;
    display: flex;
}

.languages {
    margin-right: 1.5rem;
}

.footer-text {
    color: grey;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-container {
    width: 70%
}

.empty-footer {
    width: 15%
}

.splash-logo {
    font-size: 1.1rem;
    color: rgb(153, 153, 153);
}

.footer-last-line {
    display: flex;
    justify-content: space-between;
}
