.splash-page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-size: 5vh;
    font-weight: bold;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
