.feed-container {
    display: flex;
    width: 100%;
    margin-top: 4rem;
    /* position: fixed; */
}

.left-side-feed,
.right-side-feed {
    width: 33%;
    position: relative;
}

.feed-side-column {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    position: fixed;
}

.feed-main-column {
    width: 34%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left-side-options {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
    margin-right: 5rem; /*extend border shading*/
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 8px;
}

.left-side-options:hover {
    background-color: rgb(216, 216, 216);
}

.feed-left-option-label {
    font-weight: bold;
    font-size: .9rem;
    margin-left: .5rem;
}


.feed-post-box {
    display: flex;
    flex-direction: column;
}

.story-container {
    width: 100%;
}




/*right side of feed*/
.friend-request-text {
    font-weight: bold;
    font-size: .9rem;
}

.individual-friend-request {
    display: flex;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: .7rem;
    padding-right: 8rem;
    margin-top: .5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.friend-request-minus-portrait {
    display: flex;
    flex-direction: column;
}

.friend-request-buttons {
    display: flex;
}

.requester-name {
    font-weight: bold;
    color: black;
    font-size: .9rem;
}

.sent-you-a-friend-request {
    color: rgb(131, 131, 131);
    font-size: .9rem;
}

.confirm-friend-request-btn {
    background-color: #1877F2;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    padding: .6rem .9rem;
    border-radius: 5px;
    margin-top: .2rem;
    margin-right: .5rem;
}

.delete-friend-request-btn {
    background-color: rgb(221, 221, 221);
    color: black;
    font-size: .9rem;
    font-weight: bold;
    padding: .6rem .9rem;
    border-radius: 5px;
    margin-top: .2rem;
}